In [ ]:
import numpy as np
import pandas as pd

# Data Loading & Saving (I/O Operations)
df=pd.read_csv('students_data.csv')
print(df)
#Adding new column,Adress
df['Address']="Pakistan"
print("\nAfter Adding the new column\n",df)
#Exporting Clean Data
df.to_csv('clean_data.csv')

   Student_ID    Name  Age Grade
0           1     Ali   18     A
1           2   Bilal   19     B
2           3  Ayesha   18     A
3           4   Hamza   20     C
4           5    Sara   19     B

After Adding the new column
    Student_ID    Name  Age Grade   Address
0           1     Ali   18     A  Pakistan
1           2   Bilal   19     B  Pakistan
2           3  Ayesha   18     A  Pakistan
3           4   Hamza   20     C  Pakistan
4           5    Sara   19     B  Pakistan

In [30]:
# Data Inspection & Understanding
print(f"Following operation are performing here \nHead = {df.head()},\nShape = {df.shape}")

Following operation are performing here
Head =    Student_ID    Name  Age Grade   Address
0           1     Ali   18     A  Pakistan
1           2   Bilal   19     B  Pakistan
2           3  Ayesha   18     A  Pakistan
3           4   Hamza   20     C  Pakistan
4           5    Sara   19     B  Pakistan,
Shape = (5, 5)

In [40]:
# Data Selection (Selecting Rows & Columns)

print(df['Name']) #Single column selection
print("\nMultiple columns selecting.\n\n",df[['Name','Age','Grade']])
print(f"Row selecting \n{df.loc[3]}")

0       Ali
1     Bilal
2    Ayesha
3     Hamza
4      Sara
Name: Name, dtype: object

Multiple columns selecting.

      Name  Age Grade
0     Ali   18     A
1   Bilal   19     B
2  Ayesha   18     A
3   Hamza   20     C
4    Sara   19     B
Row selecting
Student_ID           4
Name             Hamza
Age                 20
Grade                C
Address       Pakistan
Name: 3, dtype: object

In [45]:
# Indexing & Slicing
# selecting one row only
print(f"\n{df.loc[1]}")
# Selecting multiple rows
print(f"\n\nMultiples Rows indexing.\n{df.loc[[1,4]]}")

#Indexing base selection
print(f"This is indexing base selection.\n{df.iloc[1:3]}")

Student_ID           2
Name             Bilal
Age                 19
Grade                B
Address       Pakistan
Name: 1, dtype: object


Multiples Rows indexing.
   Student_ID   Name  Age Grade   Address
1           2  Bilal   19     B  Pakistan
4           5   Sara   19     B  Pakistan
This is indexing base selection.
   Student_ID    Name  Age Grade   Address
1           2   Bilal   19     B  Pakistan
2           3  Ayesha   18     A  Pakistan

In [80]:
# Data Cleaning & Preprocessing
#Remove a column address
print(f"Removing Address Column\n{df.drop('Address',axis=1)}")
df['Address']="Pakistan"
print(f"\n\nAdding Address Column\n{df}")

Removing Address Column
   Student_ID    Name  Age Grade     Addrs
0           1     Ali   18     A  Pakistan
1           2   Bilal   19     B  Pakistan
2           3  Ayesha   18     A  Pakistan
3           4   Hamza   20     C  Pakistan
4           5    Sara   19     B  Pakistan


Adding Address Column
   Student_ID    Name  Age Grade     Addrs   Address
0           1     Ali   18     A  Pakistan  Pakistan
1           2   Bilal   19     B  Pakistan  Pakistan
2           3  Ayesha   18     A  Pakistan  Pakistan
3           4   Hamza   20     C  Pakistan  Pakistan
4           5    Sara   19     B  Pakistan  Pakistan

In [84]:
# Sorting Operations
print(f"Sorting value only one column\n{df.sort_values('Age')}")

Sorting value only one column
   Student_ID    Name  Age Grade     Addrs   Address
0           1     Ali   18     A  Pakistan  Pakistan
2           3  Ayesha   18     A  Pakistan  Pakistan
1           2   Bilal   19     B  Pakistan  Pakistan
4           5    Sara   19     B  Pakistan  Pakistan
3           4   Hamza   20     C  Pakistan  Pakistan

In [102]:
# Vectorized Operations (Column-Wise Math)
df["Age"] = df["Age"] + 10
df["Student_ID"]=df["Student_ID"]*2
print(df)

   Student_ID    Name  Age Grade     Addrs   Address
0           4     Ali   48     A  Pakistan  Pakistan
1           8   Bilal   49     B  Pakistan  Pakistan
2          12  Ayesha   48     A  Pakistan  Pakistan
3          16   Hamza   50     C  Pakistan  Pakistan
4          20    Sara   49     B  Pakistan  Pakistan

In [140]:
# Apply, Map, Transform (Function Application)

# Employee data dictionary
employee_data = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Ahmed", "Bilal", "Sara", "Ayesha", "Hamza"],
    "Age": [25, 30, 28, 26, 32],
    "Department": ["HR", "IT", "Finance", "Marketing", "IT"],
    "Salary": [50000, 60000, 55000, 52000, 65000]
}
n=pd.DataFrame(employee_data)
print(n)
n["Category(Young/Old)"] = df["Age"].apply(lambda x: "Young" if x < 27 else "Old")
n["Gender"] = df["Name"].map({"Bilal": "Male", "Ahmed": "Male","Hamza":"Male","Ayesha":"Female","Sara":"Female"})
print(f"\n\nAfter Applying the operation \n{n}")

   Employee_ID    Name  Age Department  Salary
0          101   Ahmed   25         HR   50000
1          102   Bilal   30         IT   60000
2          103    Sara   28    Finance   55000
3          104  Ayesha   26  Marketing   52000
4          105   Hamza   32         IT   65000


After Applying the operation
   Employee_ID    Name  Age Department  Salary Category(Young/Old)  Gender
0          101   Ahmed   25         HR   50000                 Old     NaN
1          102   Bilal   30         IT   60000                 Old    Male
2          103    Sara   28    Finance   55000                 Old  Female
3          104  Ayesha   26  Marketing   52000                 Old    Male
4          105   Hamza   32         IT   65000                 Old  Female

In [151]:
# Missing Data Handling
data = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Ahmed", "Bilal", np.nan, "Ayesha", "Hamza"],
    "Age": [25, 19, 28, 26, 32],
    "Department": ["HR", "IT", "Finance", np.nan, "IT"],
    "Salary": [50000, 60000, np.nan, 52000, 65000]
}
d=pd.DataFrame(data)
print(d)

#Now performing the different operation
print(f"\nMissing Value\n{d.isna()}")
print(f"\nRemoving Value\n{d.dropna(thresh=4)}")
print(f"\nAdding Value\n{d.fillna("Please_Fill")}")

   Employee_ID    Name  Age Department   Salary
0          101   Ahmed   25         HR  50000.0
1          102   Bilal   19         IT  60000.0
2          103     NaN   28    Finance      NaN
3          104  Ayesha   26        NaN  52000.0
4          105   Hamza   32         IT  65000.0

Missing Value
   Employee_ID   Name    Age  Department  Salary
0        False  False  False       False   False
1        False  False  False       False   False
2        False   True  False       False    True
3        False  False  False        True   False
4        False  False  False       False   False

Removing Value
   Employee_ID    Name  Age Department   Salary
0          101   Ahmed   25         HR  50000.0
1          102   Bilal   19         IT  60000.0
3          104  Ayesha   26        NaN  52000.0
4          105   Hamza   32         IT  65000.0

Adding Value
   Employee_ID         Name  Age   Department       Salary
0          101        Ahmed   25           HR      50000.0
1          102        Bilal   19           IT      60000.0
2          103  Please_Fill   28      Finance  Please_Fill
3          104       Ayesha   26  Please_Fill      52000.0
4          105        Hamza   32           IT      65000.0